.root{
    height: auto;
    width: auto;
    flex-direction: column;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    width: 200px;
    height: 200px;
}
.top{
    color: rgb(8, 230, 8);
    background-color: rgb(2, 26, 2);
    margin-bottom: 2rem;
    border-radius: 10px;
}
.middle{
    display: flex;
    flex-direction: row;

}
.writing p{
    color: green;
}


.medias{
    margin-left : 1rem;
}
.bottom{
    margin-top: 2rem;
}
.butt{
    background-color:darkolivegreen;
    border-radius: 8px;
}